/* _sass/_custom.scss */

body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: 'Roboto', sans-serif; /* Custom font */
}

header {
    background-color: #121212; /* Dark background color for header */
    color: #ffffff; /* Light text color for header */
    font-family: 'Roboto', sans-serif; /* Custom font for header */
}

footer {
    background-color: #121212; /* Dark background color for footer */
    color: #ffffff; /* Light text color for footer */
    font-family: 'Roboto', sans-serif; /* Custom font for footer */
}
